/* Global rules */

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


html {
    background-image: url("https://ak.picdn.net/shutterstock/videos/6144476/thumb/1.jpg");
    font-family: 'Balsamiq Sans', cursive;
    font-size: 0.95em;
    line-height: 1.5em;
}

::selection {
    color: rgb(71, 137, 175); 
    background: #4a70d8af;
}

h1 {
    font-weight: normal;
    font-family:'Fredoka One', cursive;
    margin: auto;
    background:#92b1dfc2;
    line-height: 2.5em;
}

main.wrapper {
    background-color:#b8e3ffa1;
    overflow: auto;
}

p {
    margin: 1em; /* Top Right Bottom Left (TRBL) */
}

h2,h3 {
    font-weight: normal;
    margin-left: 1em;
    line-height: 1em;
}

a {
    color:#CAB8FF;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: #92b1df96;
    text-decoration: none;
}

footer {
    clear: both;
    text-align: center;
    padding: 1em;
}

/* Responsive rules */

/* DESKTOP */
@media all and (min-width:1200px) {
    main.wrapper {
        width: 80%;
        margin: auto;
    }
    
    h1 {
        width: 79%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: left;
        margin-right: 2em;
        border: 9px double rgba(0, 21, 112, 0.671);
        border-radius: 50%;
    }
    
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    main.wrapper {
        width: 90%;
        margin: auto;
    }
    
    h1 {
        width: 89%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: right;
        margin-left: 1em;
    }

}

/* PHONE */
@media all and (max-width:500px) {
    main.wrapper {
        width: 100%;
    }
    
    h1 {
        width: 99%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 100%;
    }
    
}